body {
	font-family: Consolas, monaco, monospace;
	background-color: #707070;
}

#ganador {
	font-weight: bold;
	color: red;
}

#content {
	text-align: center;
    background-color: #CBD2D4;
    max-width: 460px;
    margin: 30px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}